@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: url(https://hemmingplay.files.wordpress.com/2014/10/great-pulteney-street-at-night.png);
    background-repeat: none;
}

section {
    margin: auto;
    background-size:550px;
    width: 700px;
    height: 800px;
    color: white;
    font-family: 'Open Sans';
    position: relative;
}

p { font-size: 25px;
top: 3vh;
left: 3vw;
position: relative;
line-height: 1.5;
font-family: Times;




img {
    position: absolute;
    top: 7vh;
    left: 5vw;
}
