@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: url(https://hemmingplay.files.wordpress.com/2014/10/great-pulteney-street-at-night.png);
}

section {
    margin: auto;
    background-size:550px;
    width: 700px;
    height: 800px;
    color: white;
    font-family: 'Open Sans';
    position: relative;
}



h3 {
    font-size: 36px;
    position: absolute;
    margin: 0;
    top: 200px;
    left: 400px;
    color: black;
}

img {
    position: absolute;
    top: 200px;
    left: 120px;
}
