@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: black;
}

section {
    margin: auto;
    background: red;
    background-size:550px;
    width: 700px;
    height: 500px;
    color: white;
    font-family: 'Open Sans';
    position: relative;
}

h3 {
    /* Any styles here just affect your "<h1>" tags. */
    font-size: 48px;
    position: absolute;
    margin: 0;
    top: 300px;
    left: 400px;
    color: black;
}



p {
    font-size: 36px;
    position: absolute;
    margin: 0;
    top: 200px;
    left: 400px;
}

img {
    position: absolute;
    top: 200px;
    left: 120px;
}
